<meta charset="utf-8"/>
<co-content>
 <p>
  ------------------------------------- Chapter 1: Pattern Discovery -------------------------------------
 </p>
 <p>
  <strong>
   W​eek 1:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="x-dg8ZUZQFmnYPGVGZBZLA" name="Week1_Pattern_Discovery_Methods">
 </asset>
 <p>
  <strong>
   W​eek 2:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="_8RUcAi5RFCEVHAIuTRQMg" name="Week2_Pattern_Evaluation_Diverse_Patterns">
 </asset>
 <p>
  <strong>
   W​eek 3:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="TzpYBptTSqy6WAabUyqsXg" name="Week3_Sequential_Graph_Patterns">
 </asset>
 <p>
  <strong>
   W​eek 4:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="XIoEdiPHT_WKBHYjxz_17Q" name="Week4_Constraint_Pattern_Applications">
 </asset>
 <p>
  <strong>
   Week
  </strong>
  <strong>
   5
  </strong>
  :
  <strong>
   Part 1 Exam
  </strong>
 </p>
 <p>
 </p>
 <p>
  ------------------------------------- Chapter 2: Clustering -------------------------------------
 </p>
 <p>
  <strong>
   Week
  </strong>
  <strong>
   6:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="dbrR12g3SW660ddoN7lujw" name="Week6_Clus_Intro_Similarity">
 </asset>
 <p>
  <strong>
   Week
  </strong>
  <strong>
   7:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="aj2pfKbqSNa9qXym6ljWvA" name="Week7_Partition_Hierarchical_Clustering">
 </asset>
 <p>
  <strong>
   Week 8:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="CreoWEwRQkO3qFhMEUJD7g" name="Week8_Density_Probabilistic_Clustering">
 </asset>
 <p>
  <strong>
   Week 9: Spring Break
  </strong>
 </p>
 <p>
  <strong>
   W​eek 10:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="P2vCjebuRSGrwo3m7vUhIg" name="Week10_HD_Clustering_Validation">
 </asset>
 <p>
  <strong>
   Week 11
  </strong>
  :
  <strong>
   Part 1 Exam
  </strong>
 </p>
 <p>
 </p>
 <p>
  ------------------------------------- Chapter 3: Classification -------------------------------------
 </p>
 <p>
  <strong>
   Week 12:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="MDXdcUUrSV613XFFK5lekA" name="Week12_00Intro_01DecisionTree_02Bayesian">
 </asset>
 <p>
  <strong>
   Week 13:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="tPwiCNQPSWy8IgjUD0lsTA" name="Week13_03Eval_04_WeakSupervision">
 </asset>
 <p>
  <strong>
   Week 14:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="okhkmN36R-SIZJjd-ufkwg" name="Week14_05Linear_06DeepLearning">
 </asset>
 <p>
  <strong>
   Week 15:
  </strong>
 </p>
 <asset assettype="pdf" extension="pdf" id="UPr-xYRQRDO6_sWEUMQzAg" name="Week15_07PatternBased">
 </asset>
 <p>
  <strong>
   Week 16
  </strong>
  :
  <strong>
   Part 3 Exam
  </strong>
 </p>
 <p>
  The slides are also available on
  <a href="https://www.dropbox.com/sh/cfwxlo37puhy4xd/AABNvWRULzzBnNjMvxHyCOGLa?dl=0" title="Dropbox">
   Dropbox
  </a>
  .
 </p>
</co-content>
<style>
 body {
    padding: 50px 85px 50px 85px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 5px 20px;
    text-align: left;
}
input {
    margin: 10px;
}
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
pre {
    display: block;
    margin: 20px;
    background: #424242;
    color: #fff;
    font-size: 13px;
    white-space: pre-wrap;
    padding: 9.5px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
}
</style>
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ['$','$'] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>
